<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>product</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>WebFilter</filter-name>
    <filter-class>com.product.web.filter.WebFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WebFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAction</display-name>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>com.product.phone.register.action.RegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/RegisterAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.product.phone.login.action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveAction</display-name>
    <servlet-name>ReceiveAction</servlet-name>
    <servlet-class>com.product.phone.active.action.ReceiveAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveAction</servlet-name>
    <url-pattern>/ReceiveAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendAction</display-name>
    <servlet-name>SendAction</servlet-name>
    <servlet-class>com.product.phone.active.action.SendAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendAction</servlet-name>
    <url-pattern>/SendAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageAction</display-name>
    <servlet-name>ManageAction</servlet-name>
    <servlet-class>com.product.web.manage.action.ManageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageAction</servlet-name>
    <url-pattern>/ManageAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoAjaxServlet</display-name>
    <servlet-name>DoAjaxServlet</servlet-name>
    <servlet-class>com.product.text.DoAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAjaxServlet</servlet-name>
    <url-pattern>/validate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAction</display-name>
    <servlet-name>ProductAction</servlet-name>
    <servlet-class>com.product.web.product.action.ProductAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAction</servlet-name>
    <url-pattern>/ProductAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.product.web.logout.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>